# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
#Right Click
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle launchd-controll'
      'command': 'launchd-controll:toggle'
    }
  ]
#Top Menu
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'launchd-controll'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'launchd-controll:toggle'
        }
      ]
    ]
  }
]
