# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details

#Right Click
### there is no benefit for this or?
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Scan Daemons'
      'command': 'launchd-control:scan-daemons'
    }
  ]
###

#Top Menu
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Smart Daemon Control'
      'submenu': [
        {
          'label': 'Scan Daemons'
          'command': 'launchd-control:scan-daemons'
        },
        {
          'label': 'New Daemon'
          'command': 'launchd-control:new-daemon'
        }
      ]
    ]
  }
]
